<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="neggs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="neggs.web.UT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="neggsDB" connectionString="Data Source=localhost;Initial Catalog=GHI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="neggs.web.UT.Properties.Settings.neggsDB" connectionString="Data Source=localhost;Initial Catalog=JKL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="neggs.Properties.Settings.neggsDB" connectionString="Data Source=192.168.11.72;Initial Catalog=KITADDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <neggs.Properties.Settings>
            <setting name="neggsWEB" serializeAs="String">
                <value>http://localhost:51200/neggs_xws.asmx</value>
            </setting>
        </neggs.Properties.Settings>
        <neggs.web.UT.Properties.Settings>
            <setting name="neggsWEB" serializeAs="String">
                <value>http://localhost:51200/neggs_xws.asmx</value>
            </setting>
        </neggs.web.UT.Properties.Settings>
    </applicationSettings>
</configuration>